# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6abdd09e59463ea225acb857
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6abdd09e59463ea225acb857
